*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    max-width: 500px;
    margin: 0 auto;
    text-align: center;
    background-color: rgb(213, 145, 145);
}

section {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 20px auto;
    width: 100%;
    max-width: 600px;
    height: 100vh;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 8px;
    background-color: #f9f9f9;
}

h1 {
    font-size: 45px;
    margin-bottom: 20px;
    color: black;
    font-family: 'Courier New', Courier, monospace;
}

#enter{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 30px;
    height: 100px;
    width: 500px;
    border-radius: 10px;
    background: rgb(209, 154, 163);
    box-shadow: 20px 20px 60px rgb(217, 141, 154);
}

form {
    margin-bottom: 20px;
}

input[type="text"] {
    width: 60%;
    padding: 10px;
    margin-right: 10px;
    border-radius: 10px;
    border-bottom: 2px solid black;
    border: none;
    font-size: 18px;
    background-color: whitesmoke;
    outline: none;
}

button {
    padding: 10px 20px;
    outline: none;
    background-color: rgb(154, 104, 112);
    color: black;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 18px;
    transition: .2s;
}

button:hover {
    background-color: rgb(106, 71, 77);
    color: white;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 80%;
}

ul li {
    display: flex;
    padding: 10px 0;
    border-bottom: 1px solid #ccc;
}

ul li:last-child {
    border-bottom: none;
}

.done{
    text-decoration: line-through;
    color: burlywood;
}

@media (max-width: 400px) {
    #enter{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 15px;
        height: 250px;
        width: 300px;
        border-radius: 50px;
        background: linear-gradient(145deg,whitesmoke, rgb(213, 145, 145));
        box-shadow: 20px 20px 60px rgb(106, 71, 77),-20px -20px 60px whitesmoke;
    }
}
